// fonts impots
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

//-------------- Fonts
	// Roboto
	.roboto{
		font-family: 'Roboto', sans-serif;
		font-weight:400; 
	}
	.roboto-medium{
		font-family: 'Roboto', sans-serif;
		font-weight:500; 
	}
	.roboto-bold{
		font-family: 'Roboto', sans-serif;
		font-weight:700; 
	}

//-------------- Variables
	// Colors	
	$blue: #5aa3c3;
	$green-light: #7dc9a8;
	$grey-basic: #58585b;
	$grey-background: #f5f5f5;



	// md-content{
	// 	overflow-y: hidden;
	// }
	.uppercase{
		text-transform:  uppercase;
	}
	.no-padding-top{
		padding-top:0!important;
	}

//-------------- MD-TOOLBAR
	.md-grey-block{
		background-color: $grey-background;
		font-size: 16px;
		color: $grey-basic;
	}
	.md-white-block{
		background-color:white;
		font-size: 16px;
		color: black;
		text-align: center;
		box-shadow: 1px 1px 13px #afafaf;

		h3{
			text-align: center;
			display: block;
			width: 80%;
			font-weight: bolder;
			text-transform: uppercase;
		}
	}
	.md-white-fixed{
		background-color:white!important;
		position: fixed;
	}
	.md-no-color{
		background: transparent!important;
		position: fixed;

		i{
			font-size:30px;
		}
	}
	.md-green-fixed{
		background:$green-light!important;
		color:white;
		i{color:white!important;}
	}
	.black-button i{
		color:black;
	}
	.save-button{
		width: 90%;
		margin: 10px auto;
		height: 40px;
		display: block;
		border-radius: 3px;
		background-color: #7dc9a8;
		font-size: 14px;
		text-transform: uppercase;
		color: #ffffff;
		border: 0;
		text-decoration: none solid white;
		text-align: center;
	}


//------------ Progress
	.progress-circular-loading{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
	.md-green-apple{
		color: $green-light;
		fill:$green-light;

		path{
			stroke: $green-light;
		}
	}

	.tabs-middle{
		.md-stretch-tabs{
			border-width: 0 0 1px;
			border-style: solid;
			border: none;
			background: #f5f5f5!important;
		}
		.md-tab{
			font-family: 'Roboto';
			font-size: 13px;
			padding: 12px 15px;
			text-align: center;
		}
		.md-tab{
			color:$grey-basic;
			font-weight: initial;
		}
		.md-tab.md-active{
			color: #7dc9a8;
			font-weight: bold;
		}
	}