* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

@import "base";
@import "contatos";

/* Branndon */
  .progress-account{
    display: block;
    background: #f5f5f5;
    padding: 20px 14px;
    border-radius: 50%;
    font-size: 24px;
  }
  .header-inicio{
    background-color: #5aa3c3;
    color: white;
    width: 98%;
  }
  .header-inicio i{
    vertical-align: middle;
  }

  .header-inicio:hover{
    background-color: #70b7d6!important;
  }

  md-toolbar.md-tall{
    min-height: 200px;
    max-height: 200px;
  }
  md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar),
  md-toolbar.md-hue-2:not(.md-menu-toolbar){
    background: #82e4bc;
  }

  md-sidenav svg{
    margin-bottom: 50px;
  }

  .formEditar input{
    padding: 25px 0!important;
  }
  .formEditar i{
    margin-top: -25px;
  }

