<md-toolbar md-scroll-shrink ng-controller="toolbarController">
	<div class="md-toolbar-tools md-white-block">
		<md-button class="md-icon-button" aria-label="menu" ng-click="toggleLeft()">
			<i class="material-icons">menu</i>
		</md-button>
		<h3 class="roboto-bold">
			<span>PAGARE</span>
		</h3>
	</div>
</md-toolbar>

<div layout="column" layout-align="top center">
	<md-button class="md-raised">
		<i class="material-icons">subtitles</i> 
		Nova Cobrança
	</md-button>

	<div class="white-frame">
		<h2>Seu perfil</h2>
		<p>Termine de preencher seu cadastro, isso pode agilizar ainda mais na contratação de serviços</p>
		<md-button>Minha Conta</md-button>
	</div>
</div>