<md-toolbar md-scroll-shrink ng-controller="toolbarController">
	<div class="md-toolbar-tools md-grey-block">
		<md-button class="md-icon-button" aria-label="menu" ng-click="toggleLeft()">
			<i class="material-icons">menu</i>
		</md-button>
		<h3 class="roboto-bold">
			<span>Contatos</span>
		</h3>
	</div>
</md-toolbar>

<div ng-cloak>
	<md-content>
		<md-tabs class="tabs-middle" md-dynamic-height md-border-bottom md-stretch-tabs="always">
			<!-- Clientes -->
			<md-tab label="clientes">
				<md-content class="md-padding" ng-controller="listaClientesController">
					<div ng-include="'components/contatos/tabs/clientes.html'"></div>
				</md-content>
			</md-tab>
			<!-- Assintantes -->
			<md-tab label="assinantes">
				<md-content class="md-padding">
					<div ng-include="'components/contatos/tabs/assinantes.html'"></div> 
				</md-content>
			</md-tab>
			<!-- Vendedores -->
			<md-tab label="vendedores">
				<md-content class="md-padding">
					<div ng-include="'components/contatos/tabs/vendedores.html'"></div>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</div>