
<!-- Loading -->
<div class="progress-circular-loading" ng-show="loadingProfile">
	<md-progress-circular md-mode="indeterminate" class="md-green-apple"></md-progress-circular>
</div>



<div ng-show="!loadingProfile">
	<md-toolbar md-scroll-shrink ng-controller="toolbarController" class="md-no-color">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="menu" ng-click="goBack()">
				<i class="material-icons">keyboard_arrow_left</i>
			</md-button>
			<span flex></span>
			<md-menu>
				<md-button aria-label="Abrir mais opções" class="md-icon-button" ng-click="$mdMenu.open()">
					<i class="material-icons">more_vert</i>
				</md-button>
				<md-menu-content width="4">
					<md-menu-item>
						<md-button ng-click="editarPofile(user.document_number)">
							Editar
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="ctrl.checkVoicemail()">
							Remover
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
	</md-toolbar>

	<md-card class="content-profile">
		<div class="content-header">
			<h2>{{user.name}}</h2>
			<i class="material-icons star-round" ng-if="user.favourite">star_rate</i>
		</div>
	</md-card>


	<div flex-gt-sm="100" flex>
		<md-content class="profile-info">
			<md-list flex>
				<md-list-item class="md-2-line">
					<i class="material-icons">account_circle</i>
					<div class="md-list-item-text">
						<h3>{{user.document_number}}</h3>
						<md-input-container md-no-float class="md-block">
							<span class="uppercase">{{user.document_type}}</span>
						</md-input-container>
					</div>
				</md-list-item>

				<md-divider></md-divider>

				<md-list-item class="md-2-line">
					<i class="material-icons">email</i>
					<div class="md-list-item-text">
						<h3>{{user.email}}</h3>
						<md-input-container md-no-float class="md-block">
							<span>Email</span>
						</md-input-container>
					</div>
				</md-list-item>

				<md-divider ></md-divider>

				<md-list-item class="md-2-line" ng-if="user.mobile_phone">
					<i class="material-icons">phone</i>
					<div class="md-list-item-text block-content">
						<h3>{{user.mobile_phone}}</h3>
						<md-input-container md-no-float class="md-block">
							<span>Celular</span>
						</md-input-container>
					</div>
				</md-list-item>
				<md-list-item class="md-2-line no-padding-top" ng-if="user.home_phone">
					<div class="md-list-item-text block-content">
						<h3>{{user.home_phone}}</h3>
						<md-input-container md-no-float class="md-block">
							<span>Telefone</span>
						</md-input-container>
					</div>
				</md-list-item>

				<md-divider></md-divider>

				<md-list-item class="md-2-line" ng-if="user.address">
					<i class="material-icons">location_on</i>
						<div class="md-list-item-text">
							<h3>{{user.address}}, {{user.number}}, {{user.complement}}, {{user.city}} / SP {{user.zipcode}}</h3>
							<md-input-container md-no-float class="md-block">
								<span>Endereço</span>
							</md-input-container>
						</div>
				</md-list-item>

				<md-divider></md-divider>

				<md-list-item class="md-2-line" ng-if="user.account">
					<i class="material-icons">account_balance</i>
					<div class="md-list-item-text">
						<h3>2973 24863-2</h3>
						<md-input-container md-no-float class="md-block">
							<span>Itaú Banco S.A</span>
						</md-input-container>
					</div>
				</md-list-item>

				<md-divider></md-divider>

			</md-list>
		</md-content>
	</div>
</div>