<md-card style="margin: 0;">
	<div class="content-header" style="display: inline-block; width: 100%; position: relative; background: url(https://www.w3schools.com/css/trolltunga.jpg) no-repeat top center; height: 200px; background-size: cover;">
		<h2 style="position: absolute; z-index: 9999; color: white; text-align: center; width: 100%; bottom: 0;">Karla Maria</h2>
		<i class="material-icons" style="color: #edd057; position: absolute; right: 20px; bottom: -20px; font-size: 50px; z-index: 9999;">stars</i>
	</div>
</md-card>
  <div flex-gt-sm="100" flex>
    <md-content>
      <md-list flex>
        
        <md-list-item class="md-2-line">
          <i class="material-icons">account_circle</i>
          <div class="md-list-item-text" style="margin-top: 0; margin-left: 30px;">
            <h3>413.121.108-48</h3>
			<md-input-container md-no-float class="md-block" style="margin: 0;">
			  <input ng-model="user.cpf" type="text" placeholder="CPF" style="border: 0;">
			  <md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
			</md-input-container>
          </div>
        </md-list-item>
        <md-divider ></md-divider>

        <md-list-item class="md-2-line">
          <i class="material-icons">email</i>
          <div class="md-list-item-text" style="margin-top: 0; margin-left: 30px;">
            <h3>karla.maria@gmail.com</h3>
			<md-input-container md-no-float class="md-block" style="margin: 0;">
			  <input ng-model="user.email" type="text" placeholder="E-mail" style="border: 0;">
			  <md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
			</md-input-container>
          </div>
        </md-list-item>
        <md-divider ></md-divider>


        <md-list-item class="md-2-line">
          <i class="material-icons">phone</i>
          <div class="md-list-item-text" style="margin-top: 0; margin-left: 30px;">
            <h3>8888-8888</h3>
			<md-input-container md-no-float class="md-block" style="margin: 0;">
			  <input ng-model="user.telefone" type="text" placeholder="Telefone" style="border: 0;">
			  <md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
			</md-input-container>
          </div>
          <div class="md-list-item-text" style="margin-top: 0; margin-left: 30px;">
            <h3>98888-8888</h3>
			<md-input-container md-no-float class="md-block" style="margin: 0;">
			  <input ng-model="user.celular" type="text" placeholder="Celular" style="border: 0;">
			  <md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
			</md-input-container>
          </div>
        </md-list-item>
        <md-divider ></md-divider>

        <md-list-item class="md-2-line">
          <i class="material-icons">location_on</i>
          <div class="md-list-item-text" style="margin-top: 0; margin-left: 30px;">
            <h3>Rua Monteiro Lobato, 84, apto 902 Ocian, Praia Grande / SP 11704-150</h3>
			<md-input-container md-no-float class="md-block" style="margin: 0;">
			  <input ng-model="user.endereco" type="text" placeholder="Endereço" style="border: 0;">
			  <md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
			</md-input-container>
          </div>
        </md-list-item>
        <md-divider ></md-divider>

        <md-list-item class="md-2-line">
          <i class="material-icons">account_balance</i>
          <div class="md-list-item-text" style="margin-top: 0; margin-left: 30px;">
            <h3>2973 24863-2</h3>
			<md-input-container md-no-float class="md-block" style="margin: 0;">
			  <input ng-model="user.conta" type="text" placeholder="Itaú Unibanco SA" style="border: 0;">
			  <md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
			</md-input-container>
          </div>
        </md-list-item>
        <md-divider ></md-divider>

      </md-list>
    </md-content>
  </div>